<nav ng-show="vm.pagesCount > 1">
  <ul class="pagination">
    <li ng-show="vm.currentPage > 1">
      <a ng-click="vm.previousPage()">
        <span>&laquo;</span>
      </a>
    </li>

    <li ng-repeat="page in vm.pages" ng-class="{active: page == vm.currentPage}"><a ng-click="vm.showPage(page)">{{page}}</a></li>
    <li ng-show="vm.currentPage != vm.pagesCount">
      <a ng-click="vm.nextPage()">
        <span>&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
