<ol id="breadcrumb" class="breadcrumb">
  <li ng-repeat="b in breadcrumb.path">
    <a ui-sref="{{b.state}}" translate>{{b.name}}</a>
  </li>
  <li>
    <span translate class="current">{{breadcrumb.currentState}}</span>
  </li>
</ol>