<div ng-show="showTips(name)" class="message-box">
  <div class="zp-input-message" ng-messages="messagesContext(name)" ng-show="showTips(name)">
    <div ng-messages-include="components/zp-messages/zpMessages.content.html"></div>
  </div>
</div>