<small class="text-danger" ng-message="required"><span translate>_formErrors.required</span></small>
<small class="text-danger" ng-message="minlength"><span translate>_formErrors.minlength</span></small>
<small class="text-danger" ng-message="maxlength"><span translate>_formErrors.maxlength</span></small>
<small class="text-danger" ng-message="sameAs"><span translate>_formErrors.sameAs</span></small>
<small class="text-danger" ng-message="pattern"><span translate>_formErrors.pattern</span></small>
<small class="text-danger" ng-message="email"><span translate>_formErrors.email</span></small>
<small class="text-danger" ng-message="min"><span translate>_formErrors.min</span></small>
<small class="text-danger" ng-message="max"><span translate>_formErrors.max</span></small>
